<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileNameArray</key>
		<array>
			<string>mbymx4830</string>
			<string>mbymx4840</string>
			<string>mbymx4850</string>
			<string>mbymx4860</string>
			<string>mbymx4870</string>
		</array>
		<key>name</key>
		<string>default</string>
	</dict>
	<dict>
		<key>fileNameArray</key>
		<array>
			<string>long_tail_fold</string>
			<string>long_tail_fold_auspicious</string>
		</array>
		<key>name</key>
		<string>珠宝模板</string>
	</dict>
	<dict>
		<key>fileNameArray</key>
		<array>
			<string>commodity_label_price</string>
		</array>
		<key>name</key>
		<string>价格模板</string>
	</dict>
	<dict>
		<key>fileNameArray</key>
		<array>
			<string>double_paper</string>
		</array>
		<key>name</key>
		<string>双纸模板</string>
	</dict>
</array>
</plist>
